#Headline h1 {
  color: #87CEFA;
}

#Headline p {
  color: #CC0000;
}

#judulProfile h1 {
  color: #000000;
}

#profileDesc p {
  color: #000000;
}

.profilePage {
  background-color: #FFFFFF;
}

#profileDesc p {
  color: #000000;
}

#judulProfile {
  color: #000000;
}
