#Headline h1 {
  color: #87CEFA;
}

#Headline p {
  color: #CC0000;
}

#judulProfile h1 {
  color: #000000;
}

#profileDesc p {
  color: #000000;
}

.profilePage {
  background-color: #FFFFFF;
}

#profileDesc p {
  color: #000000;
}

#judulProfile {
  color: #000000;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: center no-repeat #fff;
}
